<section id="tasks">
  <h1>Tasks</h1>

  <div class="well">
    <%= simple_form_for @new_task, html: { class: 'form-inline' } do |f| %>
      <%= f.input :title, label: false, placeholder: "What do you want to do?", autofocus: true %>
      <%= f.submit "Create Task", class: "btn btn-primary" %>
    <% end %>
  </div>

  <ul class="list-unstyled                                                                                                      ">
    <% Task.all.each do |task| %>
      <% link_id = "update_link_#{task.id}" %>
      <li class="<%= task.done? ? 'done' : '' %>" data-target-link-id="<%= link_id %>">
        <%= fa_icon "check-square-o" %>
        <%= fa_icon "square-o" %>
        <%= task.title %>
      </li>
      <%= link_to "(Mark #{task.done? ? 'Undone' : 'Done'})", task_path(task), method: :patch, id: link_id %>
    <% end %>
  </ul>
</section>